### Heroes Of Pymoli Data Analysis
* Items priced less than $3.00 are significantly less likley to sell than more expensive items. The sellers might be excellent in estimating the value of their items or perhaps the game itself exploits psychological mechanics to entice players to spend more money. Interesting, nonetheless.

* The highest spenders (on average) are in the age range 35-39 with an average player spending $4.76, followed by players younger than 10 years old with players spending an average of $4.53. Perhaps there is a correlation between families with members in each group and average spending per family member.

* There are more purchases than members for each age group. The age range 20-24 has the highest purchase to player ratio with the total number of purchases being %141 of the player count. The second highest being players within the range 30-34 with %140. These two age groups might be the most susceptible to prior marketing and psychological techniques, or they have stronger relationships to the game.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
player_count = purchase_data.SN.nunique()
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
item_num = purchase_data["Item ID"].nunique()
avg_price = purchase_data["Price"].mean()
total_purchases = purchase_data["Purchase ID"].count()
net = purchase_data["Price"].sum()
summary = pd.DataFrame({"Number of Items":[item_num],
                       "Average Price":[avg_price],
                       "Total Purchases":[total_purchases],
                       "Revenue":[net]})
summary

   Number of Items  Average Price  Total Purchases  Revenue
0              183       3.050987              780  2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
males = purchase_data[purchase_data['Gender'].isin(['Male'])]
females = purchase_data[purchase_data['Gender'].isin(['Female'])]
others = purchase_data[purchase_data['Gender'].isin(["Other / Non-Disclosed"])]

male = males.SN.nunique()
female = females.SN.nunique()
other = others.SN.nunique()

gender_demo_raw = pd.DataFrame({"Gender":["Male", "Female", "Other / Non-Disclosed"],
                   "Purchase Count":[male, female, other],
                   "Percentage":[round(male/player_count*100, 2), round(female/player_count*100,2), round(other/player_count*100,2)]
                  })

gender_demo = gender_demo_raw.style.format({
    'var1': '{:,.2f}'.format,
    'var2': '{:,.2f}'.format,
    'var3': '{:,.2%}'.format,
})

gender_demo


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
genders = ["Male","Female","Other / Non-Disclosed"]
total_spent = [males["Price"].sum(), females["Price"].sum(), others["Price"].sum()]
avg_spent = [males["Price"].mean(), females["Price"].mean(), others["Price"].mean()]
avg_spent_per_person = [males["Price"].sum()/male, females["Price"].sum()/female, others["Price"].sum()/other]

gender_summary = pd.DataFrame({"Gender":genders,
    "Purchase Count":[males["Purchase ID"].count(), females["Purchase ID"].count(), others["Purchase ID"].count()],
                               "Average Spent":avg_spent,
                               "Total Spent":total_spent,
                               "Average Spent Per Person":avg_spent_per_person})
gender_summary

,Gender,Purchase Count,Average Spent,Total Spent,Average Spent Per Person
0,Male,652,3.017853,1967.64,4.065372
1,Female,113,3.203009,361.94,4.468395
2,Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [23]:


bins = [0,9,14,19,24,29,34,39,100]
labels = ["<10", "10-14","15-19","20-24","25-29","30-34","35-39","40+"]


purchase_data2 = purchase_data.copy(deep="True")
purchase_data3 = purchase_data2.drop_duplicates(subset="SN",keep="first")
purchase_data3["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=labels)


age_group = purchase_data3.groupby("Age Group")
age = age_group["Age"].count()
age_per = age/player_count*100
age_group_pd = pd.DataFrame({"total":age,"per":age_per})
age_group_pd

C:\ProgramData\Miniconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

           total        per
Age Group
<10           17   2.951389
10-14         22   3.819444
15-19        107  18.576389
20-24        258  44.791667
25-29         77  13.368056
30-34         52   9.027778
35-39         31   5.381944
40+           12   2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [32]:
purchase_data4 = purchase_data.copy(deep="True")
purchase_data4["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=labels)


age_group2 = purchase_data4.groupby("Age Group")


purchase_count2 = age_group2["Purchase ID"].count()
avg_spent2 = age_group2["Price"].mean()
total_spent2 = age_group2["Price"].sum()
avg_spent_per_person2 = total_spent2/age



age_summary = pd.DataFrame({"Purchase Count":purchase_count2,
                               "Average Spent":avg_spent2,
                               "Total Spent":total_spent2,
                               "Average Spent Per Person":avg_spent_per_person2})
age_summary

,Purchase Count,Average Spent,Total Spent,Average Spent Per Person
Age Group,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [56]:
spenders = purchase_data.groupby("SN")

purchase_count = spenders["SN"].count()
avg_value = spenders["Price"].mean()
total_value = spenders["Price"].sum()

spenders_summary = pd.DataFrame({"Purchase Count":purchase_count,
                                "Average Purchase Price": avg_value,
                                "Total Purchase Value":total_value})


spenders_summary.sort_values(by="Total Purchase Value", ascending=False).head()

               Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                   5                3.792000                 18.96
Idastidru52                 4                3.862500                 15.45
Chamjask73                  3                4.610000                 13.83
Iral74                      4                3.405000                 13.62
Iskadarya95                 3                4.366667                 13.10
Ilarin91                    3                4.233333                 12.70
Ialallo29                   3                3.946667                 11.84
Tyidaim51                   3                3.943333                 11.83
Lassilsala30                3                3.836667                 11.51
Chadolyla44                 3                3.820000                 11.46
Iri67                       3                3.790000                 11.37
Inguron55                   3                3.703333                 11.11
Siallylis44                 3                3.456667                 10.37
Saistyphos30                3                3.443333                 10.33
Phyali88                    3                3.433333                 10.30
Strithenu87                 3                3.393333                 10.18
Lisim78                     3                3.340000                 10.02
Haillyrgue51                3                3.166667                  9.50
Phistym51                   2                4.750000                  9.50
Lamil79                     2                4.645000                  9.29
Aina42                      3                3.073333                  9.22
Saesrideu94                 2                4.590000                  9.18
Arin32                      2                4.545000                  9.09
Rarallo90                   3                3.016667                  9.05
Baelollodeu94               2                4.515000                  9.03
Aelin32                     3                2.993333                  8.98
Lisopela58                  3                2.953333                  8.86
Saedaiphos46                3                2.943333                  8.83
Reunasu60                   2                4.410000                  8.82
Chanastnya43                3                2.940000                  8.82
...                       ...                     ...                   ...
Lirtim36                    1                1.330000                  1.33
Shidai42                    1                1.330000                  1.33
Philodil43                  1                1.290000                  1.29
Eyista89                    1                1.290000                  1.29
Mindilsa60                  1                1.280000                  1.28
Tyarithn67                  1                1.140000                  1.14
Aisur51                     1                1.140000                  1.14
Ilista82                    1                1.140000                  1.14
Jiskimsda56                 1                1.140000                  1.14
Aillyriadru65               1                1.100000                  1.10
Eryon48                     1                1.100000                  1.10
Iduelis31                   1                1.100000                  1.10
Yasur85                     1                1.100000                  1.10
Undjask33                   1                1.100000                  1.10
Lirtassa52                  1                1.090000                  1.09
Aelidru27                   1                1.090000                  1.09
Yalaeria91                  1                1.060000                  1.06
Aesurstilis64               1                1.030000                  1.03
Saida58                     1                1.030000                  1.03
Euthe35                     1                1.030000                  1.03
Hala31                      1                1.020000                  1.02
Qilalista41                 1                1.020000                  1.02
Frichjaskan98               1                1.020000                  1.02
Isurria36                   1                1.020000                  1.02
Eudanu84                    1                1.020000                  1.02
Ililsasya43                 1                1.020000                  1.02
Irilis75                    1                1.020000                  1.02
Aidai61                     1                1.010000                  1.01
Chanirra79                  1                1.010000                  1.01
Alo38                       1                1.000000                  1.00

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [53]:

items_df = purchase_data[["Item ID","Item Name", "Price"]].copy()
items = items_df.groupby(["Item ID","Item Name"])

num_sold = items["Item Name"].count()
price = items["Price"].max()
value_sold = items["Price"].sum()

items_summary = pd.DataFrame({"Purchase Count":num_sold,
                            "Item Price":price,
                             "Total Purchase Value":value_sold})
items_df
items_summary.sort_values(by="Purchase Count", ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [55]:
items_summary.sort_values(by="Total Purchase Value", ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80
59,"Lightning, Etcher of the King",8,4.23,33.84
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
78,"Glimmer, Ender of the Moon",7,4.40,30.80
72,Winter's Bite,8,3.77,30.16
60,Wolf,8,3.54,28.32
179,"Wolf, Promise of the Moonwalker",6,4.48,26.88
160,Azurewrath,6,4.40,26.40
25,Hero Cane,6,4.35,26.10
37,"Shadow Strike, Glory of Ending Hope",8,3.16,25.28
139,"Mercy, Katana of Dismay",5,4.94,24.70
128,"Blazeguard, Reach of Eternity",5,4.91,24.55
138,"Peacekeeper, Wit of Dark Magic",5,4.74,23.70
141,Persuasion,7,3.19,22.33
87,"Deluge, Edge of the West",5,4.43,22.15
159,"Oathbreaker, Spellblade of Trials",7,3.08,21.56
136,Ghastly Adamantite Protector,6,3.58,21.48
65,Conqueror Adamantite Mace,5,4.24,21.20
101,Final Critic,5,4.19,20.95
102,Avenger,6,3.44,20.64
133,Faith's Scimitar,5,4.09,20.45
39,"Betrayal, Whisper of Grieving Widows",5,3.94,19.70
111,Misery's End,4,4.89,19.56
165,Bone Crushing Silver Skewer,4,4.86,19.44
75,Brutality Ivory Warmace,8,2.42,19.36
52,Hatred,4,4.84,19.36
...,...,...,...,...
124,Venom Claymore,4,1.29,5.16
0,Splinter,4,1.28,5.12
155,War-Forged Gold Deflector,5,1.01,5.05
48,"Rage, Legacy of the Lone Victor",2,2.48,4.96
158,"Darkheart, Butcher of the Champion",2,2.45,4.90
51,Endbringer,1,4.66,4.66
134,Undead Crusader,1,4.50,4.50
30,Stormcaller,2,2.21,4.42
135,Warped Diamond Crusader,3,1.40,4.20
91,Celeste,1,4.17,4.17
177,"Winterthorn, Defender of Shifting Worlds",2,2.08,4.16
70,Hope's End,4,1.03,4.12
115,Spectral Diamond Doomblade,2,2.04,4.08
69,"Frenzy, Defender of the Harvest",2,1.98,3.96
47,"Alpha, Reach of Ending Hope",1,3.58,3.58
180,Stormcaller,1,3.36,3.36
27,"Riddle, Tribute of Ended Dreams",1,3.30,3.30
183,Dragon's Greatsword,3,1.09,3.27
31,Trickster,2,1.55,3.10
168,"Sun Strike, Jaws of Twisted Visions",2,1.48,2.96
90,Betrayer,1,2.94,2.94
33,Curved Axe,2,1.16,2.32
26,Unholy Wand,2,1.12,2.24
118,"Ghost Reaver, Longsword of Magic",1,2.17,2.17
28,"Flux, Destroyer of Due Diligence",2,1.06,2.12
125,Whistling Mithril Warblade,2,1.00,2.00
126,Exiled Mithril Longsword,1,2.00,2.00
23,Crucifer,1,1.99,1.99
104,Gladiator's Glaive,1,1.93,1.93
42,The Decapitator,1,1.75,1.75